<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/predict.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
    <main id="container">
        <div id="header">
            <img src="{{ url_for('static', filename='logo/logo.svg') }}" alt="Logo">
        </div>
        <div id="showScore">
            <p class="label">This is a {{label}}</p>
            <img src="data:image/jpeg;base64, {{ image }}" alt="Image sent">
            <div class="result">
                <p class="score">{{score}}%</p>
                <div class="progressbar">
                    <div class="second-progressbar"></div>
                </div>
            </div>
            <a href="/">Another</a>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/predict.js') }}"></script>
</body>
</html>